.superFancyBlockQuote{
  color: #999;
  font-family: 'Hoefler Text', Georgia, serif;
  font-style: italic;
  text-align: center;
  border-radius: 3px;
  border-color: black;
}

.btn {
  height: 30px;
  font-size: 12px;
  display: inline-block;
  line-height: 30px;
  border-radius: 3px;
  cursor: pointer;
  padding-left: 8px;
  padding-right: 8px;
}
.cards {
  /* background-color: skyblue; */
  border: solid;
  border-color: black;
  padding: 10px;
  margin-bottom: 3px;
}